<div class="order-header">
  <div class="container">
    <div class="text-center mt-5">
        <h3>สแน็คบ็อกซ์ (Snack Boxes)</h3>
        <p>คุณสามารถเลือกขนมเบเกอรีได้ตามแต่ใจคุณต้องการ</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="box-type">
          <div class="text-center">
            <h5>Deluxe</h5>
            <img src="../../assets/images/boxx.png" class="img-fluid" alt="">
          </div>
          <ul class="list-inline mt-2 options">
            <li class="list-inline-item">
              <span class="d-block text-center">x 2</span>
              <img src="../../assets/images/icon-option.jpg" alt=""><br>
            </li>
            <li class="list-inline-item">
              <span class="d-block text-center">x 1</span>
              <img src="../../assets/images/icon-option.jpg" alt=""><br>
            </li>
            <li class="list-inline-item">
              <span class="d-block text-center">&nbsp;</span>
              <img src="../../assets/images/icon-option.jpg" alt=""><br>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-type">
          <div class="text-center">
            <h5>Deluxe</h5>
            <img src="../../assets/images/boxx.png" class="img-fluid" alt="">
          </div>
          <ul class="list-inline mt-2 options">
            <li class="list-inline-item">
              <span class="d-block text-center">x 2</span>
              <img src="../../assets/images/icon-option.jpg" alt=""><br>
            </li>
            <li class="list-inline-item">
              <span class="d-block text-center">x 1</span>
              <img src="../../assets/images/icon-option.jpg" alt=""><br>
            </li>
            <li class="list-inline-item">
              <span class="d-block text-center">&nbsp;</span>
              <img src="../../assets/images/icon-option.jpg" alt=""><br>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- XX -->
  </div>
</div>
