.box-type {
    background: #fed0d3;
    border-radius: 10px;
    padding: 15px 15px 5px 15px;
    position: relative;

    & .options {
        color: #f59295;
        font-size: .8rem;
        line-height: 14px;

        & img {
            border: 2px solid;
            border-radius: 5px;
            padding: 2px;
        }
    }
}