/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Sriracha');
body {
    font-family: 'Sriracha', cursive;
    color: #311f24;
}
.box-bottom-arrow {
    height: 100px;
    width: 100%;
    background: url("./assets/images/img_arred.png") no-repeat center center transparent;
    margin-top: 20px;
}
.btn-gradient {
    background: #fc1b07; /* Old browsers */
    background: -moz-linear-gradient(left, #fc1b07 0%, #f7c100 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fc1b07 0%,#f7c100 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fc1b07 0%,#f7c100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1b07', endColorstr='#f7c100',GradientType=1 );
    border: 0;
    color: #fff;
}
footer {
    background: #222;
    
    & .copyright {
        color: #fff;
        font-size: .8rem;
        padding: 20px 15px;
    }
}
