<img src="assets/images/top-screen.png" alt="" style="width: 100%">
<div class="container text-center mt-5">
  <h4>How SnackFever Works</h4>
  <p>The most delicious snacks from Korea straight to your doorstep</p>
  <div class="row">
    <article class="col-md-4">
      <figure>
        <img src="//cdn.shopify.com/s/files/1/2246/7407/files/how-we-works_ill_x120.png" alt="">
      </figure>
      <figcaption>
        <h4>Subscribe, starting at $22/month.</h4>
      </figcaption>
    </article>
    <article class="col-md-4">
      <figure>
        <img src="//cdn.shopify.com/s/files/1/2246/7407/files/how-we-works_ill_x120.png" alt="">
      </figure>
      <figcaption>
        <h4>Subscribe, starting at $22/month.</h4>
      </figcaption>
    </article>
    <article class="col-md-4">
      <figure>
        <img src="//cdn.shopify.com/s/files/1/2246/7407/files/how-we-works_ill_x120.png" alt="">
      </figure>
      <figcaption>
        <h4>Subscribe, starting at $22/month.</h4>
      </figcaption>
    </article>
  </div>
  <button type="button" class="btn btn-gradient btn-lg mt-5">Large button</button>
  <div class="box-bottom-arrow"></div>
</div>